/*  CSS reset located in reset.css  */

/* teal #053B44 */
/* blue #06736C */
/* red #A53539 */
/* orange #B9543C */
/* yellow #EAD075 */


header {
	position: relative;
	width: 90%;
	left: 5%;
	text-align: right;
	border: 0px 3px 3px 3px solid black;
	border-radius: 0px 0px 15px 15px;
	background-color: #EAD075;
}

#logo {
	padding: 10px 15px 10px 15px;
	text-align: left;
	width: 40%;
}

img {
	background-color: BLUE;
	display: inline;
	
	/* Image darken effect */
	-webkit-filter: brightness(100%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

img:hover {
	-webkit-filter: brightness(150%);
}

header ul {
	display: inline;
	position: relative;
	bottom: 40px;
}

header li {
	display: inline-block;
	text-align: center;
	width: 7em;
	margin: 0em 2em 0.5em 2em;
}

/* Navbar button styling */
/*************************/
/* .button applies to all nav buttons. */

/* .active-button is a button on the navbar
 * which goes to a different page than the
 * current page. */

/* .inactive-button is the
 * button corresponding to the current page
 * and needs special colors/effects.  */

.button {
	color: #ffffff;
	padding: 0.5em 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}

.active-button {
	border-top: 1px solid #d48b79;
	background: #b9553c;
	background: -webkit-linear-gradient(top, #a53539, #b9553c);
	background: -moz-linear-gradient(top, #a53539, #b9553c);
	background: -ms-linear-gradient(top, #a53539, #b9553c);
	background: -o-linear-gradient(top, #a53539, #b9553c);
	background: -webkit-gradient(linear, left top, left bottom, from(#a53539), to(#b9553c));
}

.active-button:hover {
	border-top-color: #609CEB;
	background: #2869BF;
	background: -webkit-linear-gradient(top, #114991, #2869BF);
	background: -moz-linear-gradient(top, #114991, #2869BF);
	background: -ms-linear-gradient(top, #114991, #2869BF);
	background: -o-linear-gradient(top, #114991, #2869BF);
	background: -webkit-gradient(linear, left top, left bottom, from(#114991), to(#2869BF));
	color: #ffffff;
}


.inactive-button {
	border-top-color: #609CEB;
	background: #2869BF;
	background: -webkit-linear-gradient(top, #114991, #2869BF);
	background: -moz-linear-gradient(top, #114991, #2869BF);
	background: -ms-linear-gradient(top, #114991, #2869BF);
	background: -o-linear-gradient(top, #114991, #2869BF);
	background: -webkit-gradient(linear, left top, left bottom, from(#114991), to(#2869BF));
	color: #ffffff;
}

.pagebreak {
	border: 2px solid black;
}

