/* Variables for site */

@import "bootstrap/variables.less";


@font-size-base: 16px;

/* Redefine font colors */

@brand-primary: 		#4a7ead;
@brand-success: 		#fdaf17;
@brand-info: 			@gray-dark;


/* Links */
@link-hover-color: @gray-darker;


/* Buttons */
@btn-font-weight:		bold;
