/* Variables for site */

@import "bootstrap/variables.less";


@font-size-base: 16px;

/* Redefine font colors */

@brand-primary: 		#4a7ead;
@brand-success: 		#fdaf17;
@brand-info: 			@gray;


/* Links */
@link-hover-color: @gray-dark;


/* Buttons */
@btn-font-weight:		bold;


/* Nav 
@navbar-height: 60px;
@navbar-default-color: @gray-dark; */
