/*  CSS reset located in reset.css  */

/* teal #053B44 */
/* blue #06736C */
/* red #A53539 */
/* orange #B9543C */
/* yellow #EAD075 */

html {
	/* Pages with a scroll bar shift the page content slightly. Forcing
	addition of vertical scroll bar to each page prevents this. */
	overflow-y: scroll;
}

body {
	background: url("../resources/bg.png"); /* Noise background */
}

hr {
	width: 80%;
	height: 5px;
	background-color: #000000;
	border-style: none;
}

/* Header styles */
/*****************/

header {
	background-color: #752121;
	position: relative;
	width: 80%;
	left: 10%;
	border-bottom: 3px solid #000000;
	border-left: 3px solid #000000;
	/* border-right: 3px solid #000000; */ /* Image already had black border on right */
	border-radius: 0px 0px 12px 12px;
	background-color: #F2C164;
	background: url("../resources/fire-bg.jpg");
	background-size: 100% 100%;
}

header ul {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-bottom: 0.5em;
}

header li {
	display: inline-block;
	vertical-align: middle;
	margin: 0em 0em 0em 3em;
}

#logo {
	display: inline-block;
	vertical-align: middle;
	margin: 30px 0px 30px 15px;
	width: auto;
}

#logo img {
	background-color: #000000;
	display: inline-block;
	
	/* Image darken effect */
	-webkit-filter: brightness(100%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

#logo img:hover {
	-webkit-filter: brightness(170%);
}

/* Footer styles */
/*****************/

footer {
	background-color: #000000;
	margin: 0%;
	padding: 1% 5% 1% 5%;
	position: relative;
	left:10%;
	width: 70%;
	border-radius: 10px 10px 0px 0px;
}

.footer-block {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}


/* <section> styles */
/********************/
section {
	background: #000000; /* Black until overridden */
}

#content {
	padding: 5% 10% 5% 10%;
	background: #f2c164;
	border-radius: 4px;
	position: relative;
	left: 10%;
	width: 60%;
	height: auto;
}

/* Matt Faulkner <hr> Glass Blower */
#matt {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

#matt > img {
	width: 100%;
}

#name {
	margin-left: 5%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

/* Navbar button styling */
/*************************/
/* .button applies to all nav buttons. */

/* .active-button is a button on the navbar
 * which goes to a different page than the
 * current page. */

/* .inactive-button is the
 * button corresponding to the current page
 * and needs special colors/effects.  */

.button {
	color: #ffffff;
	padding: 0.5em 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
}

.active-button {
	border-top: 1px solid #d48b79;
	background: #b9553c;
	background: -webkit-linear-gradient(top, #a53539, #b9553c);
	background: -moz-linear-gradient(top, #a53539, #b9553c);
	background: -ms-linear-gradient(top, #a53539, #b9553c);
	background: -o-linear-gradient(top, #a53539, #b9553c);
	background: -webkit-gradient(linear, left top, left bottom, from(#a53539), to(#b9553c));
}

.active-button:hover {
	border-top-color: #609CEB;
	background: #2869BF;
	background: -webkit-linear-gradient(top, #114991, #2869BF);
	background: -moz-linear-gradient(top, #114991, #2869BF);
	background: -ms-linear-gradient(top, #114991, #2869BF);
	background: -o-linear-gradient(top, #114991, #2869BF);
	background: -webkit-gradient(linear, left top, left bottom, from(#114991), to(#2869BF));
	color: #000000;
}


.inactive-button {
	border-top: 1px solid #609CEB;
	background: #2869BF;
	background: -webkit-linear-gradient(top, #114991, #2869BF);
	background: -moz-linear-gradient(top, #114991, #2869BF);
	background: -ms-linear-gradient(top, #114991, #2869BF);
	background: -o-linear-gradient(top, #114991, #2869BF);
	background: -webkit-gradient(linear, left top, left bottom, from(#114991), to(#2869BF));
	color: #000000;
}

.inactive-button:hover {
	color: #000000;
{
