/* CSS reset located in reset.css 8*/

body, button, input {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	color: #2869bf;
	font-size: 350%;
	font-variant: small-caps;
	font-weight: 700;
	margin-bottom: 0.5em;
}

h2, label {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	color: #5e778d;
	font-size: 200%;
	font-variant: small-caps;
	font-weight: 100%;
	margin-bottom: 0.5em;
}

label {
	margin-bottom: 0em;
}

p {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 110%;
	line-height: 1.1;
	margin: 0 0 1em;
	text-indent: 3em;
	word-break: break-all;
 
	/* Non standard for webkit */
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

 p:first-of-type::first-letter {
	font-size: 150%;
	color: #0F4B99;
}

q {
	font-family: Georgia, serif;
	color: #616161;
	font-style: italic;
	font-variant: small-caps;
}

blockquote {
	font-family: Georgia, serif;
	color: #616161;

	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.17em;
	width: 50%;
	text-align:center;
	margin: 40px auto;	
	text-transform: lowercase;
	line-height: 150%;
	font-size: 100%;
	font-variant: small-caps; 
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: #a53539;
	text-decoration: underline;
}

a:hover {
	color: #300000;
	text-decoration: none;

}
