<!-- Left sidebar -->
<div class="col-lg-2 col-md-2 col-sm-2" style="background-color: #EEEEEE;">
	<img src="/img/repologo.png" class="img-responsive">
	
	<a href="/" class="btn btn-default btn-block">Back to Portal</a>
	
	<!---------------->
	<!-- Categories -->
	<!---------------->
	
	<ul class="nav nav-pills nav-stacked">
		<li><a href="">Code Analysis <span class="badge">42</span></a></li>
		<li><a href="">Defect <span class="badge">3</span></a></li>
		<li class="subcategory"><a href="">CK <span class="badge">3</span></a></li>
		<li class="subcategory"><a href="">McCabe &amp; Halsted <span class="badge">3</span></a></li>
		<li class="subcategory"><a href="">Other <span class="badge">3</span></a></li>
		
		<li><a href="">Dump <span class="badge">3</span></a></li>
		<li><a href="">Effort <span class="badge">3</span></a></li>
		<li><a href="">Cobol <span class="badge">3</span></a></li>
		<li><a href="">Cocomo <span class="badge">3</span></a></li>
		<li><a href="">Function Points Analysis <span class="badge">3</span></a></li>
		<li><a href="">ISBSG <span class="badge">3</span></a></li>
		<li><a href="">Personnal <span class="badge">3</span></a></li>
		<li><a href="">Other <span class="badge">3</span></a></li>
		<li><a href="">Green Mining<span class="badge">3</span></a></li>
		<li><a href="">Issues <span class="badge">3</span></a></li>
		<li><a href="">Model <span class="badge">3</span></a></li>
		<li><a href="">MSR <span class="badge">3</span></a></li>
		<li><a href="">Performance Predict <span class="badge">3</span></a></li>
		<li><a href="">Requirements <span class="badge">3</span></a></li>
		<li><a href="">NRP <span class="badge">3</span></a></li>
		<li><a href="">Other <span class="badge">3</span></a></li>
		<li><a href="">Social Analysis <span class="badge">3</span></a></li>
		<li><a href="">Spreadsheet <span class="badge">3</span></a></li>
	</ul>

</div>
