<!-- Left sidebar -->
<div class="col-lg-2 col-md-2 col-sm-2" id="leftbar">
	<img src="/img/repologo.png" class="img-responsive">
	
	<a href="/" class="btn btn-default btn-block" id="back-to-portal">
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to Portal
	</a>
	
	<hr>
	
	<h2>Categories</h2>
	
	<ul class="nav nav-pills nav-stacked" id="category-list">
		<li><a href="">Code Analysis <span class="badge">42</span></a></li>
		<li><a href="">Defect <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">CK <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">McCabe &amp; Halsted <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Other <span class="badge">3</span></a></li>
		
		<li><a href="">Dump <span class="badge">3</span></a></li>
		<li><a href="">Effort <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Cobol <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Cocomo <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Function Points Analysis <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">ISBSG <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Personnal <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Other <span class="badge">3</span></a></li>
		<li><a href="">Green Mining<span class="badge">3</span></a></li>
		<li><a href="">Issues <span class="badge">3</span></a></li>
		<li><a href="">Model <span class="badge">3</span></a></li>
		<li><a href="">MSR <span class="badge">3</span></a></li>
		<li><a href="">Performance Predict <span class="badge">3</span></a></li>
		<li><a href="">Requirements <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">NRP <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="">Other <span class="badge">3</span></a></li>
		<li><a href="">Social Analysis <span class="badge">3</span></a></li>
		<li><a href="">Spreadsheet <span class="badge">3</span></a></li>
		<li><a href="">Other <span class="badge">3</span></a></li>
	</ul>

</div>
