<!-- Left sidebar -->
<div class="col-lg-2 col-md-2 col-sm-2" id="leftbar">
	
	<img src="/img/repologo.png" class="img-responsive hidden-xs">
	
	<a href="/" class="btn btn-default btn-block" id="back-to-portal">
		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
		Back to Portal
	</a>
	
	<hr>
	
	<h2>Categories</h2>
	
	<ul class="nav nav-pills nav-stacked" id="category-list">
		<li><a href="/repo/code-analysis">Code Analysis <span class="badge">42</span></a></li>
		<li><a href="/repo/defect">Defect <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/defect/ck">CK <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/defect/mccabehalsted">McCabe &amp; Halsted <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/defect/other-defect">Other <span class="badge">3</span></a></li>
		
		<li><a href="/repo/dump">Dump <span class="badge">3</span></a></li>
		<li><a href="/repo/effort">Effort <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/cobol">Cobol <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/cocomo">Cocomo <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/function-points">Function Points Analysis <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/isbsg">ISBSG <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/personnel">Personnel <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/effort/other-effort">Other <span class="badge">3</span></a></li>
		<li><a href="/repo/green-mining">Green Mining<span class="badge">3</span></a></li>
		<li><a href="/repo/issues">Issues <span class="badge">3</span></a></li>
		<li><a href="/repo/model">Model <span class="badge">3</span></a></li>
		<li><a href="/repo/msr">MSR <span class="badge">3</span></a></li>
		<li><a href="/repo/performance-predict">Performance Predict <span class="badge">3</span></a></li>
		<li><a href="/repo/requirements">Requirements <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/requirements/nrp">NRP <span class="badge">3</span></a></li>
		<li><a class="subcategory" href="/repo/requirements/other-requirements">Other <span class="badge">3</span></a></li>
		<li><a href="/repo/search-based-se">Search-Based SE <span class="badge">3</span></a></li>
		<li><a href="/repo/social-analysis">Social Analysis <span class="badge">3</span></a></li>
		<li><a href="/repo/spreadsheet">Spreadsheet <span class="badge">3</span></a></li>
		<li><a href="/repo/other">Other <span class="badge">3</span></a></li>
	</ul>

</div>
